{{ template "base" . }}

{{ define "title" }}Dashboard{{ end }}

{{ define "main" }}
<!--<main>-->

<div class="main-container">

    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="info-tiles">
                <div class="info-icon">
                    <i class="icon-account_circle"></i>
                </div>
                <div class="stats-detail">
                    <h3>82 هزار</h3>
                    <p>کاربر</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="info-tiles">
                <div class="info-icon">
                    <i class="icon-watch_later"></i>
                </div>
                <div class="stats-detail">
                    <h3>2 هزار</h3>
                    <p>نمایندگان</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="info-tiles">
                <div class="info-icon">
                    <i class="icon-visibility"></i>
                </div>
                <div class="stats-detail">
                    <h3>70 هزار</h3>
                    <p>بازدید</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="info-tiles">
                <div class="info-icon">
                    <i class="icon-shopping_basket"></i>
                </div>
                <div class="stats-detail">
                    <h3>90 هزار</h3>
                    <p>فروش</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="info-tiles">
                <div class="info-icon secondary">
                    <i class="icon-check_circle"></i>
                </div>
                <div class="stats-detail">
                    <h3>3 هزار</h3>
                    <p>ثبت نام</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="info-tiles">
                <div class="info-icon secondary">
                    <i class="icon-archive"></i>
                </div>
                <div class="stats-detail">
                    <h3>64 هزار</h3>
                    <p>سفارش</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

    <!-- Row starts -->
    <div class="row gutters">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-280">
                <div class="card-header">
                    <div class="card-title">سفارشات</div>
                </div>
                <div class="card-body">
                    <div class="chartist bar-scheme-one">
                        <div class="barChartOrders"></div>
                    </div>
                    <div class="row gutters justify-content-center">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="info-stats m-0">
                                <span class="info-label"></span>
                                <p class="info-title">سفارش آلاین</p>
                                <h3 class="info-total">950 هزار</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="info-stats m-0">
                                <span class="info-label secondary"></span>
                                <p class="info-title">سفارشات مستقیم</p>
                                <h3 class="info-total">300 هزار</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-280 agenda-bg">
                <div class="card-body">
                    <div class="agenda">
                        <div class="todays-date">
                            <h5>نمایندگان - <span class="date" id="todays-date"></span></h5>
                        </div>
                        <ul class="agenda-list">
                            <li>
                                <span class="bullet">&nbsp;</span>
                                <div class="details">
                                    <p>با جعفر عباسی بگیرید</p>
                                    <small>09:00</small>
                                </div>
                            </li>
                            <li>
                                <span class="bullet">&nbsp;</span>
                                <div class="details">
                                    <p>برای جیمز هتل رزرو کنید</p>
                                    <small>09:30</small>
                                </div>
                            </li>
                            <li>
                                <span class="bullet">&nbsp;</span>
                                <div class="details">
                                    <p>بروید رستوران</p>
                                    <small>10:00</small>
                                </div>
                            </li>
                            <li>
                                <span class="bullet secondary">&nbsp;</span>
                                <div class="details">
                                    <p>تماس با مجتبی</p>
                                    <small>09:00</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->

    <!-- Row starts -->
    <div class="row gutters">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-420">
                <div class="card-header">
                    <div class="card-title">بازدید ها</div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <div class="chart-height-md1" id="world-map-markers2"></div>
                        </div>
                    </div>
                    <div class="row gutters justify-content-center">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="info-stats">
                                <span class="info-label"></span>
                                <p class="info-title">بازدید</p>
                                <h3 class="info-total">9000</h3>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="info-stats">
                                <span class="info-label"></span>
                                <p class="info-title">رزرو شده</p>
                                <h3 class="info-total">8000</h3>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="info-stats">
                                <span class="info-label secondary"></span>
                                <p class="info-title">لغو ها</p>
                                <h3 class="info-total">75</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-420">
                <div class="card-header">
                    <div class="card-title">گزارش ها</div>
                </div>
                <div class="card-body">
                    <div class="chartist threshold-scheme">
                        <div class="thresholdChart"></div>
                    </div>
                    <!-- Row starts -->
                    <div class="row gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="overall-earnings">
                                <div class="earnings-icon">
                                    <i class="icon-local_airport"></i>
                                </div>
                                <div class="earnings-stats">
                                    <p>پروازها</p>
                                    <h3>75000 تومان</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="overall-earnings">
                                <div class="earnings-icon dark">
                                    <i class="icon-star"></i>
                                </div>
                                <div class="earnings-stats">
                                    <p>هتل ها</p>
                                    <h3>95000 تومان</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                            <div class="overall-earnings">
                                <div class="earnings-icon secondary">
                                    <i class="icon-local_taxi"></i>
                                </div>
                                <div class="earnings-stats">
                                    <p>تاکسی</p>
                                    <h3>32000 تومان</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-320">
                <div class="card-header">
                    <div class="card-title">پیام ها</div>
                </div>
                <div class="card-body">
                    <div class="customScroll5">
                        <ul class="user-messages">
                            <li class="clearfix">
                                <div class="customer">ج .ع</div>
                                <div class="delivery-details">
                                    <span class="badge badge-primary">سفارش داده شده</span>
                                    <h5>جعفر عباسی</h5>
                                    <p>ما خوشحالیم که اطلاع رسانی می کنیم که شماره بلیط زیر نیست. <b>WAFI510</b> رزرو
                                        شده است.</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="customer">م ش</div>
                                <div class="delivery-details">
                                    <span class="badge badge-primary">تحویل داده شده</span>
                                    <h5>مجتبی شاهی</h5>
                                    <p>شرکت مخابراتی با موفقیت پیام را به کاربر نهایی تحویل داد.</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="customer">ع خ</div>
                                <div class="delivery-details">
                                    <span class="badge badge-primary">لغوی</span>
                                    <h5>عباسی خان</h5>
                                    <p>موارد زیر توصیف کد وضعیت و پیام برای دریافت تحویل است.</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="customer secondary">ج خ</div>
                                <div class="delivery-details">
                                    <span class="badge badge-secondary">بازگشتی</span>
                                    <h5>جعفر خان</h5>
                                    <p>هنگام دریافت رسید تحویل ، کدهای وضعیت و توضیحات در TLV های خاص OpenMarket
                                        بازگردانده می شوند.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="card h-320">
                <div class="card-header">
                    <div class="card-title">پنج نماینده برتر</div>
                </div>
                <div class="card-body">
                    <div class="customScroll5">
                        <div class="top-agents-container">
                            <div class="top-agent">
                                <img alt="Agent" class="avatar" src="img/user.png"/>
                                <div class="agent-details">
                                    <h6>جعفر عباسی</h6>
                                    <div class="agent-score">
                                        <div class="progress">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="87"
                                                 class="progress-bar bg-primary" role="progressbar"
                                                 style="width: 87%"></div>
                                        </div>
                                        <div class="points">
                                            <div class="left">رتبه #1</div>
                                            <div class="right">9,800 امتیاز</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-agent">
                                <img alt="Agent" class="avatar" src="img/user22.png"/>
                                <div class="agent-details">
                                    <h6>راست چین</h6>
                                    <div class="agent-score">
                                        <div class="progress">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="76"
                                                 class="progress-bar bg-primary" role="progressbar"
                                                 style="width: 76%"></div>
                                        </div>
                                        <div class="points">
                                            <div class="left">رتبه #2</div>
                                            <div class="right">7,500 امتیاز</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-agent">
                                <img alt="Agent" class="avatar" src="img/user6.png"/>
                                <div class="agent-details">
                                    <h6>مجتبی شاهی</h6>
                                    <div class="agent-score">
                                        <div class="progress">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="65"
                                                 class="progress-bar bg-secondary" role="progressbar"
                                                 style="width: 65%"></div>
                                        </div>
                                        <div class="points">
                                            <div class="left">رتبه #3</div>
                                            <div class="right">4,200 امتیاز</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-agent">
                                <img alt="Agent" class="avatar" src="img/user20.png"/>
                                <div class="agent-details">
                                    <h6>عباسی خان</h6>
                                    <div class="agent-score">
                                        <div class="progress">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="58"
                                                 class="progress-bar bg-secondary" role="progressbar"
                                                 style="width: 58%"></div>
                                        </div>
                                        <div class="points">
                                            <div class="left">رتبه #4</div>
                                            <div class="right">3,800 امتیاز</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-agent">
                                <img alt="Agent" class="avatar" src="img/user13.png"/>
                                <div class="agent-details">
                                    <h6>خان عباسی</h6>
                                    <div class="agent-score">
                                        <div class="progress">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                                                 class="progress-bar bg-primary" role="progressbar"
                                                 style="width: 40%"></div>
                                        </div>
                                        <div class="points">
                                            <div class="left">رتبه #5</div>
                                            <div class="right">1,200 امتیاز</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="card h-320">
                <div class="card-header">
                    <div class="card-title">رتبه بندی های کلی</div>
                </div>
                <div class="card-body">
                    <div class="user-ratings">
                        <div class="total-ratings">
                            <h2>4.5</h2>
                            <div class="rating-stars">
                                <div id="rate1"></div>
                            </div>
                        </div>
                        <div class="ratings-list-container">
                            <div class="ratings-list">
                                <div class="rating-level">5.0</div>
                                <div class="rating-stars">
                                    <div class="rateA"></div>
                                </div>
                                <div class="total">
                                    8,500 <span class="percentage">65%</span>
                                </div>
                            </div>
                            <div class="ratings-list">
                                <div class="rating-level">4.0</div>
                                <div class="rating-stars">
                                    <div class="rateB"></div>
                                </div>
                                <div class="total">
                                    3,500 <span class="percentage">20%</span>
                                </div>
                            </div>
                            <div class="ratings-list">
                                <div class="rating-level">3.0</div>
                                <div class="rating-stars">
                                    <div class="rateC"></div>
                                </div>
                                <div class="total">
                                    1,400 <span class="percentage">15%</span>
                                </div>
                            </div>
                            <div class="ratings-list">
                                <div class="rating-level">2.0</div>
                                <div class="rating-stars">
                                    <div class="rateD"></div>
                                </div>
                                <div class="total">
                                    300 <span class="percentage">05%</span>
                                </div>
                            </div>
                            <div class="ratings-list">
                                <div class="rating-level">1.0</div>
                                <div class="rating-stars">
                                    <div class="rateE"></div>
                                </div>
                                <div class="total">
                                    75 <span class="percentage">03%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/moment.js"></script>


    <!-- *************
        ************ ./vendor Js Files *************
    ************* -->
    <!-- Slimscroll JS -->
    <script src="/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="/vendor/slimscroll/custom-scrollbar.js"></script>

    <!-- Daterange -->
    <script src="/vendor/daterange/daterange.js"></script>
    <script src="/vendor/daterange/custom-daterange.js"></script>

    <!-- Chartist JS -->
    <script src="/vendor/chartist/js/chartist.min.js"></script>
    <script src="/vendor/chartist/js/chartist-tooltip.js"></script>
    <script src="/vendor/chartist/js/custom/bar/stack-bar-chart.js"></script>
    <script src="/vendor/chartist/js/custom/line/multiple-line-charts.js"></script>

    <!-- jVector Maps -->
    <script src="/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/vendor/jvectormap/world-mill-en.js"></script>
    <script src="/vendor/jvectormap/gdp-data.js"></script>

    <!-- Custom JVector Maps -->
    <script src="/vendor/jvectormap/custom/world-map-markers.js"></script>

    <!-- Circliful js -->
    <script src="/vendor/circliful/circliful.min.js"></script>
    <script src="/vendor/circliful/circliful.custom.js"></script>

    <!-- Rating JS -->
    <script src="/vendor/rating/raty.js"></script>
    <script src="/vendor/rating/raty-custom.js"></script>


    <!-- Main JS -->
    <script src="/public/js/main.js"></script>

</div>

<!--</main>-->
{{ end }}