# IDE
.idea
.metals
# Secret files
*.secret
*.vscode

*.env
*.ini

# System files
.DS_Store
.docker

# Auto generated
node_modules
public/assets
logs
build
*.dat

#other
tmp
temp/*
old-codes

*.yaml
*.yml