.layoutContainer {
  .body {
    display: flex;
    flex-direction: column;
    background: #f31322;
    right: 270px;
    left: 0;
    position: fixed;

    .header {
      text-align: center;
      padding: 0 1.5rem;
      max-height: 90px;
      z-index: 999;
      background: #ffffff;
      border-bottom: 1px solid #e4e7f2;

      img {
        max-height: 90px;
      }
    }

    .content {
      position: fixed;
      background-color: #f5f6fa;
      padding: 0 1.5rem;
      top: 90px;
      bottom: 0;
      left: 0;
      right: 270px;
      overflow-y: auto;

      .contentHeader {
        padding: 1rem 1.3rem;
        max-height: 60px;
      }

      .contentWrapper {
        position: fixed;
        padding: 0 1.5rem;
        top: 150px;
        bottom: inherit;
        left: inherit;
        right: inherit;
      }
    }
  }
}