{{ template "base" .}}

{{ define "title" }}brokerage list{{ end }}

{{ define "main" }}

<!-- Page wrapper start -->
<main class="page-wrapper">
    <!-- Main container start -->
    <div class="main-container">

        <div class="row gutters">
            <div class="col-12">
                <h3>لیست صرافی ها</h3>
                <div class="card">
                    <div class="card-body">
                        <div class="padding-a-1">
                            <div class="table-responsive">
                                <table class="table custom-table">
                                    <thead>
                                    <tr>
                                        <th width="1">#</th>
                                        <th>عنوان</th>
                                        <th>نام</th>
                                        <th>توضیحات</th>
                                        <th>بازه زمانی</th>
                                        <th>وضعیت</th>
                                        <th width="1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {{$disable:= .disable}}
                                    {{$enable:= .enable}}
                                    {{ range $index, $br := .brokerages }}
                                    <tr>
                                        <td>{{ Sum $index 1}}</td>
                                        <td>{{ $br.Title }}</td>
                                        <td>{{ $br.Name }}</td>
                                        <td>{{ $br.Description }}</td>
                                        <td>{{ ResolutionLabel $br.Resolution }}</td>
                                        <td>
                                            {{ if eq $br.Status $disable}}
                                            <button class="btn btn-danger" data-target="#{{ $br.Title }}"
                                                    data-toggle="modal">خاموش
                                            </button>
                                            {{ else if eq $br.Status $enable }}
                                            <form action="./{{$br.ID}}/status" method="post">
                                                <button class="btn btn-success" type="submit">روشن</button>
                                            </form>
                                            {{ end }}
                                            <div aria-hidden="true" aria-labelledby="updateOnlineLabel"
                                                 class="modal fade" id="{{ $br.Title }}"
                                                 role="dialog" tabindex="-1">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="updateOnlineLabel">فعال سازی
                                                                صرافی</h5>
                                                            <button aria-label="Close" class="close"
                                                                    data-dismiss="modal" type="button">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form action="./{{$br.ID}}/status" method="post">
                                                            <div class="modal-body">
                                                                <div class="input-group-m">
                                                                    <div class="subtitle">
                                                                        <p>امکان فعال سازی چند صرافی به صورت همزمان وجود
                                                                            ندارد. در صورت فعال سازی این صرافی باقی
                                                                            صرافی ها غیر فعال خواهند شد</p>
                                                                    </div>
                                                                    <div class="subtitle bold">تنظیمات فعال سازی</div>

                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input"
                                                                               id="ohlc"
                                                                               name="ohlcCheckbox" type="checkbox">
                                                                        <label class="custom-control-label"
                                                                               for="ohlc">جمع آوری داده</label>
                                                                    </div>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input"
                                                                               id="trading"
                                                                               name="tradingCheckbox" type="checkbox">
                                                                        <label class="custom-control-label"
                                                                               for="trading">انجام معامله</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-secondary margin-l-1"
                                                                        data-dismiss="modal" type="button">بستن
                                                                </button>
                                                                <button class="btn btn-primary" name="{{ $br.Title }}"
                                                                        type="submit">ذخیره
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="padding-1" href="/brokerages/{{ $br.ID }}/show"><span
                                                    class="icon-chevron-left"></span></a>
                                        </td>
                                    </tr>
                                    {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Main container end -->

    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/moment.js"></script>

    <!-- Input Tags JS -->
    <script src="/vendor/input-tags/tagsinput.min.js"></script>
    <script src="/vendor/input-tags/typeahead.js"></script>
    <script src="/vendor/input-tags/tagsinput-custom.js"></script>
    <!-- Main Js Required -->
    <script src="/js/main.js"></script>
</main>
<!-- Page wrapper end -->

{{ end }}