{{ define "title" }}{{ end }}

{{ define "main" }}
<table class="table custom-table" id="resolution-table">
    <thead>
    <tr>
        <th width="1">#</th>
        <th>برچسب</th>
        <th>مقدار</th>
        <th>مدت زمان</th>
        <th style="width: 20% "></th>
    </tr>
    </thead>
    <tbody>
    {{range $index, $res := .resolutions }}
    <tr>
        <td>{{ Sum $index 1 }}</td>
        <td>{{ ResolutionLabel $res }}</td>
        <td>{{ $res.Value }}</td>
        <td>{{ $res.Duration }}</td>
        <td class="center">
            <div class="custom-control custom-radio custom-control-inline">
                <input checked class="custom-control-input" id="resolution{{ $res.ID }}" name="resolutionRadio"
                       type="radio" value="{{ $res.ID }}">
                <label class="custom-control-label" for="resolution{{ $res.ID }}"></label>
            </div>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}