{{ define "aside" }}
<aside>
    <nav class="sidebar-wrapper" id="sidebar">
        <!-- Sidebar brand start  -->
        <div class="sidebar-brand">
            <a class="logo" href="/">
                <img alt="Gate Admin Dashboard" src="/img/logo.png"/>
            </a>
            <a class="logo-sm" href="/">
                <img alt="Gate Admin Dashboard" src="/img/logo-sm.png"/>
            </a>
        </div>
        <!-- Sidebar brand end  -->

        <!-- Sidebar content start -->
        <div class="sidebar-content">

            <!-- sidebar menu start -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">مدیریت</li>
                    <li class="sidebar-dropdown active">
                        <a href="#">
                            <i class="icon-devices_other"></i>
                            <span class="menu-text">صرافی</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a class="current-page" href="/brokerages/overview">وضعیت کلی</a>
                                </li>
                                <li>
                                    <a href="/brokerages/list">لیست صرافی ها</a>
                                </li>
                                <li>
                                    <a href="/brokerages/add">افزودن</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="chat.html">
                            <i class="icon-message-circle"></i>
                            <span class="menu-text">برنامه گپ</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-calendar1"></i>
                            <span class="menu-text">تقویم ها</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="calendar.html">نمای روزانه</a>
                                </li>
                                <li>
                                    <a href="calendar-external-draggable.html">خارجی Draggable</a>
                                </li>
                                <li>
                                    <a href="calendar-google.html">تقویم گوگل</a>
                                </li>
                                <li>
                                    <a href="calendar-list-view.html">فهرست نمایش</a>
                                </li>
                                <li>
                                    <a href="calendar-selectable.html">Selectable</a>
                                </li>
                                <li>
                                    <a href="calendar-week-numbers.html">شماره های هفته</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="contacts.html">
                            <i class="icon-phone1"></i>
                            <span class="menu-text">فهرست مخاطبان</span>
                        </a>
                    </li>
                    <li>
                        <a href="documents.html">
                            <i class="icon-documents"></i>
                            <span class="menu-text">اسناد</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-layout"></i>
                            <span class="menu-text">طرح های خالی</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="default-layout.html">طرح پیش فرض</a>
                                </li>
                                <li>
                                    <a href="default-light-layout.html">طرح بندی پیش فرض روشن</a>
                                </li>
                                <li>
                                    <a href="fixed-layout.html">طرح بندی ثابت</a>
                                </li>
                                <li>
                                    <a href="fixed-layout-light.html">طرح بندی ثابت روشن</a>
                                </li>
                                <li>
                                    <a href="slim-sidebar.html">طرح باریک</a>
                                </li>
                                <li>
                                    <a href="slim-sidebar-light.html">طرح باریک روشن</a>
                                </li>
                                <li>
                                    <a href="card-options.html">تنظیمات کارت ها</a>
                                </li>
                                <li>
                                    <a href="drag-drop-cards.html">کارت ها را بکشید و رها کنید</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-book-open"></i>
                            <span class="menu-text">صفحات</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="account-settings.html">تنظیمات حساب</a>
                                </li>
                                <li>
                                    <a href="blog.html">بلاگ</a>
                                </li>
                                <li>
                                    <a href="cards.html">کارت ها</a>
                                </li>
                                <li>
                                    <a href="datepickers.html">انتخاب کننده تاریخ</a>
                                </li>
                                <li>
                                    <a href="faq.html">سوالات متدال</a>
                                </li>
                                <li>
                                    <a href="invoice.html">صورتحساب</a>
                                </li>
                                <li>
                                    <a href="search-results.html">نتایج جستجو</a>
                                </li>
                                <li>
                                    <a href="timeline.html">تایم لاین</a>
                                </li>
                                <li>
                                    <a href="comments.html">نظرات کاربران</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="pricing.html">
                            <i class="icon-dollar-sign"></i>
                            <span class="menu-text">پلن های قیمت</span>
                        </a>
                    </li>
                    <li>
                        <a href="user-profile.html">
                            <i class="icon-user1"></i>
                            <span class="menu-text">پروفایل کاربر</span>
                        </a>
                    </li>
                    <li>
                        <a href="tasks.html">
                            <i class="icon-check-circle"></i>
                            <span class="menu-text">برنامه وظایف</span>
                        </a>
                    </li>
                    <li class="header-menu">فرم ها</li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-edit1"></i>
                            <span class="menu-text">ورودی ها</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="form-inputs.html">فرم ورودی ها</a>
                                </li>
                                <li>
                                    <a href="input-groups.html">ورودی گروه ها</a>
                                </li>
                                <li>
                                    <a href="check-radio.html">باکس بررسی</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-file-text"></i>
                            <span class="menu-text">فرم های تماس</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="contact.html">فرم تماس</a>
                                </li>
                                <li>
                                    <a href="contact2.html">فرم تماس #2</a>
                                </li>
                                <li>
                                    <a href="contact3.html">فرم تماس #3</a>
                                </li>
                                <li>
                                    <a href="contact4.html">فرم تماس #4</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="bs-select.html">
                            <i class="icon-pocket"></i>
                            <span class="menu-text">BS انتخاب</span>
                        </a>
                    </li>
                    <li>
                        <a href="editor.html">
                            <i class="icon-edit-3"></i>
                            <span class="menu-text">ویرایشگر</span>
                        </a>
                    </li>
                    <li>
                        <a href="input-masks.html">
                            <i class="icon-eye-off"></i>
                            <span class="menu-text">ماسک های ورودی</span>
                        </a>
                    </li>
                    <li>
                        <a href="input-tags.html">
                            <i class="icon-terminal"></i>
                            <span class="menu-text">تگ های ورودی</span>
                        </a>
                    </li>
                    <li>
                        <a href="range-sliders.html">
                            <i class="icon-toggle-right"></i>
                            <span class="menu-text">رنج اسلایدر ها</span>
                        </a>
                    </li>
                    <li>
                        <a href="wizard.html">
                            <i class="icon-triangle"></i>
                            <span class="menu-text">ویزارد ها</span>
                        </a>
                    </li>
                    <li class="header-menu">UI عناصر</li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-list2"></i>
                            <span class="menu-text">آکاردئونها</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="accordion.html">آکاردئون</a>
                                </li>
                                <li>
                                    <a href="accordion-icons.html">آکاردئون آیکن</a>
                                </li>
                                <li>
                                    <a href="accordion-arrows.html">پیکان آکاردئون</a>
                                </li>
                                <li>
                                    <a href="accordion-lg.html">آکاردئون بزرگ</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-disc"></i>
                            <span class="menu-text">دکمه ها</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="buttons.html">دکمه ها</a>
                                </li>
                                <li>
                                    <a href="button-groups.html">دکمه گروه ها</a>
                                </li>
                                <li>
                                    <a href="dropdowns.html">Dropdowns</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="carousel.html">
                            <i class="icon-toll"></i>
                            <span class="menu-text">کرسول ها</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-star2"></i>
                            <span class="menu-text">اجزاء</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="jumbotron.html">Jumbotron</a>
                                </li>
                                <li>
                                    <a href="labels-badges.html">برچسب ها و نشان ها</a>
                                </li>
                                <li>
                                    <a href="list-items.html">فهرست آتیم ها</a>
                                </li>
                                <li>
                                    <a href="pagination.html">صفحات</a>
                                </li>
                                <li>
                                    <a href="progress.html">میله های پیشرفت</a>
                                </li>
                                <li>
                                    <a href="pills.html">پیلس ها</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-image"></i>
                            <span class="menu-text">گالری</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="gallery.html">گالری اسلایدر</a>
                                </li>
                                <li>
                                    <a href="gallery2.html">گالری تصویر</a>
                                </li>
                                <li>
                                    <a href="gallery3.html">گالری شناور</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-box"></i>
                            <span class="menu-text">گرید</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="grid.html">گرید</a>
                                </li>
                                <li>
                                    <a href="grid-doc.html">اسناد گرید</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="icons.html">
                            <i class="icon-timer"></i>
                            <span class="menu-text">آیکن ها</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-image"></i>
                            <span class="menu-text">تصاویر</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="avatars.html">آواتارز</a>
                                </li>
                                <li>
                                    <a href="media-objects.html">اشیاء رسانه ای</a>
                                </li>
                                <li>
                                    <a href="images.html">تصاویر</a>
                                </li>
                                <li>
                                    <a href="text-avatars.html">آواتار متنی</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="modals.html">
                            <i class="icon-credit-card"></i>
                            <span class="menu-text">مدالها</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-bell"></i>
                            <span class="menu-text">اعلانات</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="bootstrap-alerts.html">هشدار پیش فرض</a>
                                </li>
                                <li>
                                    <a href="custom-alerts.html">هشدار دستی</a>
                                </li>
                                <li>
                                    <a href="toasts.html">Toasts هشدار</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="spinners.html">
                            <i class="icon-circular-graph"></i>
                            <span class="menu-text">اسپینرها</span>
                        </a>
                    </li>
                    <li>
                        <a href="tooltips.html">
                            <i class="icon-change_history"></i>
                            <span class="menu-text">نکات راهنمایی</span>
                        </a>
                    </li>
                    <li>
                        <a href="typography.html">
                            <i class="icon-sort_by_alpha"></i>
                            <span class="menu-text">تایپوگرافی</span>
                        </a>
                    </li>
                    <li class="header-menu">جداول</li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-border_all"></i>
                            <span class="menu-text">جداول</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="custom-tables.html">جداول سفارشی</a>
                                </li>
                                <li>
                                    <a href="default-table.html">جدول پیش فرض</a>
                                </li>
                                <li>
                                    <a href="table-bordered.html">جدول حاشیه دار</a>
                                </li>
                                <li>
                                    <a href="table-hover.html">جدول شناور</a>
                                </li>
                                <li>
                                    <a href="table-striped.html">جدول راه راه</a>
                                </li>
                                <li>
                                    <a href="table-small.html">جدول کوچک</a>
                                </li>
                                <li>
                                    <a href="table-colors.html">جدول رنگی</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="data-tables.html">
                            <i class="icon-border_all"></i>
                            <span class="menu-text">جداول داده</span>
                        </a>
                    </li>
                    <li class="header-menu">نمودارها و نقشه ها</li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-line-graph"></i>
                            <span class="menu-text">نمودارهای Apex</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="area-graphs.html">نمودارهای منطقه</a>
                                </li>
                                <li>
                                    <a href="bubble.html">نمودار حباب</a>
                                </li>
                                <li>
                                    <a href="bar-graphs.html">نمودار میله</a>
                                </li>
                                <li>
                                    <a href="candlestick.html">شمعدان</a>
                                </li>
                                <li>
                                    <a href="column-graphs.html">نمودار ستونی</a>
                                </li>
                                <li>
                                    <a href="donut-graphs.html">Donut نمودار</a>
                                </li>
                                <li>
                                    <a href="line-graphs.html">نمودار های خطی</a>
                                </li>
                                <li>
                                    <a href="mixed-graphs.html">نمودارهای مختلط</a>
                                </li>
                                <li>
                                    <a href="pie-graphs.html">Pie نمودار های</a>
                                </li>
                                <li>
                                    <a href="radial-chart.html">نمودار شعاعی</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="morris-graphs.html">
                            <i class="icon-tonality"></i>
                            <span class="menu-text">نمودار موریس</span>
                        </a>
                    </li>
                    <li>
                        <a href="flot-graphs.html">
                            <i class="icon-pie_chart_outlined"></i>
                            <span class="menu-text">نمودارهای شناور</span>
                        </a>
                    </li>
                    <li>
                        <a href="c3-graphs.html">
                            <i class="icon-activity"></i>
                            <span class="menu-text">C3 نمودار</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-map2"></i>
                            <span class="menu-text">نقشه ها</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="vector-maps.html">نقشه های برداری</a>
                                </li>
                                <li>
                                    <a href="google-maps.html">نقشه های گوگل</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu">اضافی</li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-airplay"></i>
                            <span class="menu-text">لاگین</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="login.html">ورود</a>
                                </li>
                                <li>
                                    <a href="signup.html">ثبت نام</a>
                                </li>
                                <li>
                                    <a href="forgot-pwd.html">فراموشی رمز عبور</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-mail"></i>
                            <span class="menu-text">مشترک شدن</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="subscribe.html">مشترک شدن 1</a>
                                </li>
                                <li>
                                    <a href="subscribe2.html">مشترک شدن 2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="icon-alert-triangle"></i>
                            <span class="menu-text">صفحات خطا</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="error.html">404</a>
                                </li>
                                <li>
                                    <a href="error2.html">505</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="coming-soon.html">
                            <i class="icon-schedule"></i>
                            <span class="menu-text">به زودی</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar menu end -->

        </div>
        <!-- Sidebar content end -->
    </nav>
</aside>
{{ end }}