.header {
    padding: 0 1.5rem;
    z-index: 100;
    position: fixed;
    right: 230px;
    left: 0;
    background: #ffffff;
    border-bottom: 1px solid #e4e7f2;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: left .3s ease;

    .toggle-btns #pin-sidebar, .header .toggle-btns #toggle-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border: 1px solid #e6ebf1;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
}

.header .toggle-btns #pin-sidebar i, .header .toggle-btns #toggle-sidebar i {
    font-size: 1rem;
    font-weight: 600;
    color: #1a8e5f;
}

.header .toggle-btns #pin-sidebar:hover, .header .toggle-btns #toggle-sidebar:hover {
    background: #1a8e5f;
    border: 1px solid #1a8e5f;
}

.header .toggle-btns #pin-sidebar:hover i, .header .toggle-btns #toggle-sidebar:hover i {
    color: #ffffff;
}

.header .toggle-btns #toggle-sidebar {
    display: none;
}

@media (max-width: 768px) {
    .header {
        margin: 0 0 .75rem 0;
        right: 0;
    }

    .header .toggle-btns #pin-sidebar {
        display: none;
    }

    .header .toggle-btns #toggle-sidebar {
        display: flex;
    }
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}