{{ template "base" .}}

{{ define "title" }}wallet list{{ end }}

{{ define "main" }}

<!-- Page wrapper start -->
<main class="page-wrapper">
    <!-- Main container start -->
    <div class="main-container">

        <div class="row gutters">
            <div class="col-12">
                <h3>لیست کیف های پول</h3>
                <div class="card">
                    <div class="card-body">
                        <div class="padding-a-1">
                            <div class="table-responsive">
                                <table class="table custom-table">
                                    <thead>
                                    <tr>
                                        <th width="1">#</th>
                                        <th>نام</th>
                                        <th>صرافی</th>
                                        <th>موجودی کل</th>
                                        <th>موجودی بلوکه شده</th>
                                        <th>موجودی در دسترس</th>
                                        <th>آخرین بروززسانی</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{ range $index, $wallet := .wallets }}
                                    <tr>
                                        <td>{{ Sum $index 1}}</td>
                                        <td>{{ $wallet.Asset.Name }}</td>
                                        <td>{{ $wallet.Brokerage.Title }}</td>
                                        <td>{{ $wallet.TotalBalance }}</td>
                                        <td>{{ $wallet.BlockedBalance }}</td>
                                        <td>{{ $wallet.ActiveBalance }}</td>
                                        <td>{{ TimeFormatter $wallet.UpdatedAt }}</td>
                                    </tr>
                                    {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Main container end -->

    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/moment.js"></script>
    <!-- Main Js Required -->
    <script src="/js/main.js"></script>
</main>
<!-- Page wrapper end -->

{{ end }}