.button {
  margin: 0 0.5rem;
  color: #2e323c;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  font-family: inherit;
  min-height: 42px;
  min-width: 130px;

  &.info {
    border: 1px solid #1a4e8e;
  }

  &.success {
    border: 1px solid #1a8e5f;
  }

  &.danger {
    border: 1px solid #af2323;
  }

  &.warn {
    border: 1px solid #d3c528;
  }

  &:hover {
    color: #fefefe;

    &.info {
      background: #1a4e8e;
    }

    &.success {
      background-color: #1a8e5f;
    }

    &.danger {
      background-color: #af2323;
    }

    &.warn {
      background-color: #d3c528;
    }
  }

  .vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .horizontal-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .icon-top {
    padding-top: 7px;
  }

  .icon-bottom {
    padding-bottom: 7px;
  }

  .icon-right {
    padding-left: 12px;
  }

  .icon-left {
    padding-right: 12px;
  }
}