.sidebar {
  width: 270px;
  height: 100%;
  background: #1f2328;
  color: #a1acbb;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  .list {
    list-style-type: none;
    padding: 0;

    li:hover {
      background: #2e323c;
      color: #fefefe;
    }

    li:focus {
      background: #2e323c;
      color: #1a8e5f;
    }
  }
}