.padding-1 {
    padding: 1em;
}

.padding-2 {
    padding: 1.5em;
}

.padding-a-1 {
    padding: 0em 0.5em 1em 0.5em;
}

.margin-1 {
    margin: 1em;
}

.margin-l-1 {
    margin: 0em 0em 0em 1em;
}

.margin-t-1 {
    margin: 1em 0em 0em 0em;
}

.margin-r-1 {
    margin: 0em 1em 0em 0em;
}

.margin-rl-1 {
    margin: 0em 1em 0em 1em;
}
