{{ template "base" .}}

{{ define "title" }}brokerage list{{ end }}

{{ define "main" }}

<!-- Page wrapper start -->
<main class="page-wrapper">
    <!-- Main container start -->
    <div class="main-container">

        <div class="row gutters">
            <div class="col-12">
                <h3>لیست بازار ها</h3>
                <div class="card">
                    <div class="card-body">
                        <div class="padding-a-1 inline-grid ltr">
                            <button class="btn btn-outline-success margin-r-1" data-target="#updateOnline"
                                    data-toggle="modal"
                                    type="button">
                                <span class="icon-download"></span>
                            </button>
                            <div aria-hidden="true" aria-labelledby="updateOnlineLabel" class="modal fade"
                                 id="updateOnline"
                                 role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateOnlineLabel">دانلود بازارها</h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="./add" method="post">
                                            <div class="modal-body">
                                                <div class="input-group-m">
                                                    <div class="subtitle">صرافی</div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input class="custom-control-input" id="coinex-radio"
                                                               name="brokerageRadio" type="radio" value="Coinex">
                                                        <label class="custom-control-label"
                                                               for="coinex-radio">کوینکس</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input class="custom-control-input" id="nobitex-radio"
                                                               name="brokerageRadio" type="radio" value="Nobitex">
                                                        <label class="custom-control-label"
                                                               for="nobitex-radio">نوبیتکس</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary margin-l-1" data-dismiss="modal"
                                                        type="button">بستن
                                                </button>
                                                <button class="btn btn-primary" type="submit">ذخیره</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-outline-info margin-r-1" data-target="#addMarket" data-toggle="modal"
                                    type="button">
                                <span class="icon-add"></span>
                            </button>
                            <div aria-hidden="true" aria-labelledby="addMarketLabel" class="modal fade" id="addMarket"
                                 role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addMarketLabel">افزودن بازار</h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary margin-l-1" data-dismiss="modal"
                                                    type="button">بستن
                                            </button>
                                            <button class="btn btn-primary" type="button">ذخیره</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="padding-a-1">
                            <div class="table-responsive">
                                <table class="table custom-table">
                                    <thead>
                                    <tr>
                                        <th width="1">#</th>
                                        <th>نام</th>
                                        <th>صرافی</th>
                                        <th>تاریخ شروع</th>
                                        <th>کارمزد خرید</th>
                                        <th>کارمزد فروش</th>
                                        <th>کمینه سفارش</th>
                                        <th>وضعیت</th>
                                        <th width="1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{ range $index, $market := .markets }}
                                    <tr>
                                        <td>{{ Sum $index 1}}</td>
                                        <td>{{ $market.Name }}</td>
                                        <td>{{ $market.BrokerageName }}</td>
                                        <td>{{ TimeFormatter $market.StartTime }}</td>
                                        <td>{{ $market.MakerFeeRate }}</td>
                                        <td>{{ $market.TakerFeeRate }}</td>
                                        <td>{{ $market.MinAmount }}</td>
                                        <td>{{ $market.Status }}</td>
                                        <td>
                                            <a class="padding-1" href="/markets/{{ $market.ID }}/show"><span
                                                    class="icon-dots-three-vertical"></span></a>
                                        </td>
                                    </tr>
                                    {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Main container end -->

    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/moment.js"></script>
    <!-- Main Js Required -->
    <script src="/js/main.js"></script>
</main>
<!-- Page wrapper end -->

{{ end }}